<div class="bootstrap-wrapper">

  <div class="container">

    <div class="row" > 
        
        <div class="col-md-6-md-3 offset-md-3">
          <mat-card>

             <div class="container text-center">
                <img src="../../../assets/logo.png" alt="">
            </div>

           <h1 class="text-center">Register Here!!</h1>

           <!--{{user | json}}-->

           <form (ngSubmit)="formSubmit()">
            <!--Username field-->
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Username</mat-label>
                <input
                required
                [(ngModel)]="user.username"
                name="username"
                  
                matInput placeholder="Enter here"/>
                <mat-hint>User name must be unique !!</mat-hint>
               </mat-form-field>

              <!--password field-->
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>UserPassword</mat-label>
                <input
                required
                [(ngModel)]="user.password"
                name="password"

                type="password" matInput placeholder="Enter here"/>
            </mat-form-field>

            <!--Firstname-->
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Firstname</mat-label>
                <input
                required
                
                [(ngModel)]="user.firstname"
                name="firstname"
                matInput placeholder="Enter here"/>
               </mat-form-field>

               <!--Lastname-->
               <mat-form-field class="full-width" appearance="outline">
                <mat-label>Lastname</mat-label>
                <input
                required
                
                [(ngModel)]="user.lastname"
                name="lastname"
                matInput placeholder="Enter here"/>
               </mat-form-field>

               <!--email-->
               <mat-form-field class="full-width" appearance="outline">
                <mat-label>Emailaddress</mat-label>
                <input 
                required
                
                [(ngModel)]="user.email"
                name="email"
                type="email" matInput placeholder="Enter here"/>
               </mat-form-field>

               <!--phone number-->
               <mat-form-field class="full-width" appearance="outline">
                <mat-label>Phonenumber</mat-label>
                <input 
                required
                
                [(ngModel)]="user.phone"
                name="phone"
                type="number" matInput placeholder="Enter here"/>
               </mat-form-field>

               <div class="container">

                <button type="submit" mat-raised-button color="primary">Register</button>
                <button style="margin-left: 20px" mat-raised-button color="accent">Clear</button>
               </div>


           </form>
          </mat-card>
         
           
           
        </div>
      
        

    </div>

  </div>

</div>
